<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdZdBg_VzaX9ShQT4cUxPIi70t6AHYN24</string>
	<key>GCM_SENDER_ID</key>
	<string>429505592488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kreativeTechTodo</string>
	<key>PROJECT_ID</key>
	<string>deltanode-2154a</string>
	<key>STORAGE_BUCKET</key>
	<string>deltanode-2154a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429505592488:ios:c6f5ce09f27511ef58569d</string>
	<key>DATABASE_URL</key>
	<string>https://deltanode-2154a-default-rtdb.firebaseio.com</string>
</dict>
</plist>